@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {

    --font-size-xs: clamp(0.75rem, 3vw, 1rem);
    --font-size-sm: clamp(0.875rem, 3.5vw, 1.25rem);
    --font-size-md: clamp(1rem, 4vw, 1.5rem);
    --font-size-lg: clamp(1.125rem, 4.5vw, 1.75rem);
    --font-size-xl: clamp(1.25rem, 5vw, 2rem);
    --font-size-xxl: clamp(1.5rem, 6vw, 2.5rem);
    --font-size-xxxl: clamp(1.875rem, 7vw, 3rem);
    --font-size-xxxxl: clamp(2.25rem, 8vw, 4rem);

    --cyan: #A5C1C5;
    --active: #40AFBF;
    --primary-color: #503C3C;
    --secondary-color: #B5997D;
    --black-text: rgba(0, 0, 0, 0.75);

    --Cormorant: "Cormorant";
    --Rubik: "Rubik";
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    background-color: white;
    /* height: -webkit-fill-available; */
    height: 100dvh;
    margin: 0;
    padding: 0;
}

body{
    margin-left: auto!important;
    margin-right: auto!important;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* height: -webkit-fill-available; */
    background-color: white;
}






.titleNavigation{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-left: 2%; */
    /* padding-right: 8%; */
    margin-top: 5vh;
    margin-bottom: .5vh;
}

.titleNavigation a{
    z-index: 7;
    position: absolute;
    left: 10px;
    top: -16px;

    /* background-color: aqua; */
}

.titleNavigation img{
    padding: 20px;
    height: 70px;
}

.titleNavigation span{
    /* background-color: chartreuse; */
    text-align: center;
    /* width: 80%; */
    /* flex: 1; */
    color: var(--primary-color);
    font-family: var(--Cormorant);
    font-size: var(--font-size-xxxl);
}

.navigationSubTitle{
    text-align: center;
    font-family: var(--Rubik);
    font-size: var(--font-size-md);
    letter-spacing: 1.5px;
    color: var(--black-text);
    margin-bottom: 5vh;
    margin-top: 1vh;
    
}

.ar-placeholder{
    width: 100%;
    aspect-ratio: 16/9;
    background-color: grey;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.highlighMessage{
    margin-top: 3vh;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 25px;
    color: white;
    font-family: var(--Rubik);
    font-size: var(--font-size-xl);
    white-space: nowrap;
    text-wrap: 1;
    background-color: var(--active);
    width: min-content;
}

.mainMessage{
    margin-top: 5vh;
    font-family: var(--Rubik);
    color: var(--black-text);
    font-size: var(--font-size-lg);
    font-weight: 300;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10%;
}

.topMessage{
    font-family: var(--Rubik);
    color: var(--black-text);
    font-size: var(--font-size-lg);
    font-weight: 300;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5vh;

}

.middleInfoImage{
    width: 100%;
}

.wifi-outlined{
    width: 90px;
    opacity: .65;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.wifiInfoWrap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.eachInfoWrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wifiLabel{
    font-family: var(--Cormorant);
    font-size: var(--font-size-xxxl);
    color: var(--primary-color);
}

.wifiValue{
    font-family: var(--Rubik);
    font-size: var(--font-size-xxl);
    margin-top: .5vh;
    color: rgba(0, 0, 0, 0.95);

}

.transportItemsWrap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 5vh;
}

.transportItem{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.transportLabel{
    text-align: center;
    font-weight: 500;
    margin-bottom: 1vh;
    font-size: var(--font-size-lg);
    font-family: var(--Rubik);
}

.transportText{
    text-align: center;
    font-weight: 300;
    margin-top: 2vh;
    font-size: var(--font-size-md);
    font-family: var(--Rubik);
    height: 170px;
}


.transportItem img{
    height: 80px;
    width: 80px;
    opacity: .75;
}

.transportLink{
    background-color: var(--active);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-size: var(--font-size-md);
    font-weight: 700;
    margin-top: 1.5vh;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    font-family: var(--Rubik);
}

.subjectTitle{
    font-size: var(--font-size-xxxl);
    font-family: var(--Cormorant);
    color: var(--primary-color);
    margin-left: 25px;
}

.placeItemWrap{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.placeInfoWrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow: hidden;
}

.placeName{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.placeImage{
    height: 100px;
    width: 100px;
    border-radius: 7px;
    margin-right: 15px;
}

.placeGmapsIcon{
    height: 50px;
    width: 50px;
    margin-right: 7px;
}

.placeNameText{
    font-family: var(--Rubik);
    font-size: var(--font-size-md);
    font-weight: 450;
    color: rgba(0, 0, 0, 0.85);
}

.googleAddress{
    font-family: var(--Rubik);
    font-size: var(--font-size-md);
    font-weight: 350;
    color: rgba(0, 0, 0, 0.85);

}

.gMapIframe{
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border-radius: 7px;
}

.brownDivider{
    width: 70%;
    border-radius: 50px;
    background-color: var(--secondary-color);
    padding-bottom: 1.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.restaurantsWrap{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.barsWrap{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.emergencyItemWrap{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

.emergencyItem{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emergencyIcon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.emergencyInfoWrap{
    position: relative;
    display: flex;
    flex-direction: column;
}

.emergencyTitle{
    font-family: var(--Rubik);
    font-size: var(--font-size-xl);
    font-weight: 500;
    color: black;
    opacity: .85;
    letter-spacing: 1px;
}

.emergencyNumberText{
    font-family: var(--Rubik);
    font-size: var(--font-size-xl);
    font-weight: 300;
    color: black;
    /* opacity: .85; */

}

.emergencyNumberWrap{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emergencyPhoneIcon{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.amenitiesGrid{
    margin-top: 3.5vh;
    margin-bottom: 7vh;
    position: relative;
    display: grid;
    row-gap: 3vh;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-end;
}

.amenityItem{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amenityItem span{
    width: min-content;
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--Rubik);
    opacity: .85;
    font-weight: 400;
}

.amenityItem img{
    margin-top: 10px;
    width: 60px;
    opacity: .7;
}

















.footer{
    padding-bottom: 10vh;
}


































  /* Desktop styles */
  @media only screen and (min-width: 64em) {



    .videoSuperWrap{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .middleInfoImage{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }



  }














































