<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Bathroom</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>BATHROOM</span>
    </div>

    <span class="navigationSubTitle">Bathroom instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/bathroom.png" alt="" class="mainImage">





    <span class="mainMessage">Please maintain cleanliness by wiping down surfaces after use and promptly disposing of any waste in the provided bins. Respect other guests' privacy and time by keeping showers and bathroom usage efficient. Use the provided towels and toiletries responsibly and refrain from removing them from the premises. Report any maintenance issues or concerns to the host promptly. Thank you for helping to keep the bathroom a pleasant and functional space for all guests.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>