<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Bedroom</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>BEDROOM</span>
    </div>

    <span class="navigationSubTitle">Bedroom instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/image_placeholder.jpg" alt="" class="mainImage">





    <span class="mainMessage">Maintain cleanliness by making your bed and keeping personal belongings organized. Respect other guests' privacy and quiet hours by minimizing noise and disturbances. Use coasters or trays for drinks to prevent spills and damage to furniture. Keep the bedroom door closed when not in use. Report any issues or concerns to the host promptly. Thank you for ensuring a comfortable stay for yourself and fellow guests.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>