<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Garage</title>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>GARAGE</span>
    </div>

    <span class="navigationSubTitle">Garage instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/garage.png" alt="" class="mainImage">





    <span class="mainMessage">Park your vehicle in the designated spot and ensure it doesn't obstruct any pathways or other vehicles. Refrain from storing personal items or additional vehicles without prior approval from the host. Report any maintenance issues or concerns promptly. Thank you for helping us maintain a functional and safe garage space for everyone to use.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>