<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Jacuzzi</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="../../js/loadLanguage.js"></script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span id="mainTitle">JACUZZI</span>
    </div>

    <span class="navigationSubTitle" id="mainSubTitle">Jacuzzi instructions & maintenance</span>

    <div class="spacer"></div>
    
    <img src="../../assets/img/placeholder_image_16-9.png" alt="" class="middleInfoImage">
    
    <div class="spacer"></div>
    
    <span class="mainMessage" id="mainMessage">Enjoy responsibly and follow safety guidelines. Keep the area clean, avoid bringing glassware, and limit late-night use. Cover after use and report any issues promptly. Thanks for ensuring a relaxing experience for all.</span>
    
    <div class="spacer"></div>
    
    <div class="videoSuperWrap">
        <video
        id="my-video"
        class="video-js vjs-16-9"
            controls
            preload="auto"
            data-setup="{}"
            >
            <source src="../assets/video/house-of-gemini-checkinout_en_low.mp4" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>
    </div>
    
    <div class="spacer"></div>

    <div class="bulletTitle" id="bulletTitle01">To Turn On</div>    

    <ol>
        <li id="step1">Locate the control panel near the jacuzzi.</li>
        <li id="step2">Press the power button to activate the jacuzzi.</li>
        <li id="step3">Adjust temperature and settings as desired using the control panel.</li>
        <li id="step4">Wait for the water to reach the desired temperature before entering.</li>
    </ol>
    
    <div class="bulletTitle" id="bulletTitle02">To Turn Off</div>    
    
    <ol>
        <li id="step5">Press the power button again to deactivate the jacuzzi.</li>
        <li id="step6">Ensure all jets are turned off.</li>
        <li id="step7">Replace the jacuzzi cover to conserve energy and maintain cleanliness.</li>
        <li id="step8">If unsure, refer to the instruction manual or contact the host for assistance.</li>
    </ol>
    





    <div class="footer"></div>
</body>
</html>