<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Kitchen</title>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>KITCHEN</span>
    </div>

    <span class="navigationSubTitle">Kitchen instructions & maintenance</span>

    <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage">





    <span class="mainMessage">Feel free to connect and enjoy high-speed internet during your stay. If you have any questions or need assistance, don't hesitate to reach out to us. We're here to make your experience as comfortable as possible.</span>














</body>
</html>