<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Kitchen</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>KITCHEN</span>
    </div>

    <span class="navigationSubTitle">Kitchen instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/kitchen.png" alt="" class="mainImage">


    


    <span class="mainMessage">Please maintain cleanliness by promptly washing dishes and wiping surfaces. Respect others by coordinating appliance use and keeping noise levels down. Label and store food properly, disposing of perishables promptly. Safely operate appliances and handle hot surfaces with care. Separate waste for recycling and report any issues to the host. Before checkout, ensure cleanliness and return items to their place. Thank you for helping create a pleasant shared kitchen experience.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>