<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Living Room</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span>LIVING ROOM</span>
    </div>

    <span class="navigationSubTitle">Living room instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/image_placeholder.jpg" alt="" class="mainImage">





    <span class="mainMessage">Please keep the living room tidy and organized during your stay. Respect other guests' comfort by keeping noise levels low, especially during late hours. Use coasters for drinks to prevent damage to furniture. Refrain from rearranging furniture without permission. Enjoy the shared space responsibly and report any damages or concerns to the host promptly. Thank you for maintaining a welcoming environment for all guests.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>