<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Lucnh Area</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
    <script src="../../js/loadLanguage.js"></script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span id="main-title">LUNCH AREA</span>
    </div>

    <span class="navigationSubTitle" id="main-subtitle">Exterior lunch area instructions & maintenance</span>

    <!-- <img src="../../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage"> -->

    <img src="../../assets/img/explore/lunch_area.png" alt="" class="mainImage">





    <span class="mainMessage" id="main-message">Welcome to our charming exterior lunch area! Please utilize the food preparation table and dining table for your meals. Keep the area clean and tidy after use, disposing of any waste in the designated bins. Enjoy the beautiful light decorations while respecting the peaceful atmosphere for all guests. If you have any questions or need assistance, don't hesitate to ask. Thank you for helping us maintain this inviting space for everyone to enjoy.</span>



    
    
    <div class="footer"></div>
    
    
 


</body>
</html>