<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Boiler</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="../../js/loadLanguage.js"></script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span id="boilerTitle">BOILER</span>
    </div>

    <span id="boilerInstructions" class="navigationSubTitle">Boiler instructions & maintenance</span>

    <div class="spacer"></div>
    
    <div class="videoSuperWrap">
        <video
        id="my-video"
        class="video-js vjs-16-9"
            controls
            preload="auto"
            data-setup="{}"
            >
            <source src="../assets/video/house-of-gemini-checkinout_en_low.mp4" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>
    </div>
    
    <div class="spacer"></div>
    
    <div id="boilerBulletTitle" class="bulletTitle">Instructions</div>

    <ol>
        <li id="boilerStep1">Find the boiler's controls, usually near the unit.</li>
        <li id="boilerStep2">Flip the ON/OFF switch or turn the knob to activate the boiler.</li>
        <li id="boilerStep3">Ensure the thermostat is set to your desired temperature.</li>
        <li id="boilerStep4">Watch for the boiler's burner igniting to heat water.</li>
        <li id="boilerStep5">Use the temperature control to adjust hot water temperature if needed.</li>
        <li id="boilerStep6">When finished, switch off the boiler.</li>
        <li id="boilerStep7">Be aware of safety features and procedures, including gas leak detection.</li>
    </ol>

    <div class="spacer"></div>
    <div class="spacer"></div>


    <div class="footer"></div>
</body>
</html>