<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../css/explore.css">
    <title>Outer Lights</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/hog_favicon.png">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="../../js/loadLanguage.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

        
            const storedLanguage = localStorage.getItem('language') || 'en';

            if(storedLanguage == 'en'){
                document.getElementById('video-source').src = "../../assets/video/house-of-gemini-light-EN.mp4";
            }else if(storedLanguage == 'es'){
                document.getElementById('video-source').src = "../../assets/video/house-of-gemini-light-ES.mp4";
            }

        });

    </script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../../index.html">
            <img src="../../assets/icons/back_brown.png" alt="">
        </a>
        <span id="outerLights">OUTER LIGHTS</span>
    </div>

    <span id="lightsInstructions" class="navigationSubTitle">Lights instructions & maintenance</span>

    <div class="spacer"></div>
    
    <div class="videoSuperWrap">
        <video
        id="my-video"
        class="video-js vjs-16-9"
            controls
            preload="auto"
            data-setup="{}"
            >
            <source id="video-source" src="../../assets/video/house-of-gemini-light-EN.mp4" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>
    </div>

    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    
    <div class="spacer"></div>
    
    <div id="instructionsTitle" class="bulletTitle">Instructions</div>

    <ol>
        <li id="step1">Find the switch on the pillar in the outer lunch area.</li>
        <li id="step2">Flip the switch up to turn on the decorative lights.</li>
        <li id="step3">Ensure the lights are on.</li>
        <li id="step4">Flip the switch down to turn off the lights when done.</li>
    </ol>

    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="footer"></div>
</body>
</html>