<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Amenities</title>
    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span>AMENITIES</span>
    </div>

    <span class="navigationSubTitle">Amenities list & information</span>

    <span class="topMessage">Indulge in comfort and convenience with our array of amenities tailored to enhance your stay. Relax by the pool, or unwind in our cozy lounge area. Whatever you need, we're here to make your experience unforgettable.</span>
    

    <span class="subjectTitle">BEDROOM</span>

    <div class="amenitiesGrid">

        <div class="amenityItem">
            <span>Bed</span>
            <img src="../assets/icons/double-bed.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Pillows</span>
            <img src="../assets/icons/pillow.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Blankets</span>
            <img src="../assets/icons/blanket.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Alarm Clock</span>
            <img src="../assets/icons/digital-clock.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Mirror</span>
            <img src="../assets/icons/mirror.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Curtains</span>
            <img src="../assets/icons/curtains.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Aircon</span>
            <img src="../assets/icons/air-conditioner.png" alt="">
        </div>

    </div>



    <span class="subjectTitle">COMMON AREA</span>
    
    <div class="amenitiesGrid">

        <div class="amenityItem">
            <span>Living room</span>
            <img src="../assets/icons/interior-design.png" alt="">
        </div>

        <div class="amenityItem">
            <span>TV</span>
            <img src="../assets/icons/watch-tv.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Board Games</span>
            <img src="../assets/icons/board-game.png" alt="">
        </div>

    </div>
    
    
    
    <span class="subjectTitle">BATHROOM</span>
        
    <div class="amenitiesGrid">

        <div class="amenityItem">
            <span>Toilet</span>
            <img src="../assets/icons/sanitary.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Shower</span>
            <img src="../assets/icons/shower.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Toilet paper</span>
            <img src="../assets/icons/toilet-paper.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Hand soap</span>
            <img src="../assets/icons/soap.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Shampoo</span>
            <img src="../assets/icons/shampoo.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Conditioner</span>
            <img src="../assets/icons/hair-conditioner.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Body wash</span>
            <img src="../assets/icons/body-lotion.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Towels</span>
            <img src="../assets/icons/bath-towel.png" alt="">
        </div>

    </div>
    


    <span class="subjectTitle">OUTDOOR</span>

    <div class="amenitiesGrid">

        <div class="amenityItem">
            <span>Garage</span>
            <img src="../assets/icons/garage.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Eating area</span>
            <img src="../assets/icons/table.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Fire pit</span>
            <img src="../assets/icons/fire.png" alt="">
        </div>

        <div class="amenityItem">
            <span>Hot tub</span>
            <img src="../assets/icons/hot-tub.png" alt="">
        </div>

    </div>
    
    
    
    
    











    
    <div class="footer"></div>    
    
    
    
    
    
    
    
    
    
    
</body>
</html>






