<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Amenities</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/hog_favicon.png">

    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
    <script src="../js/loadLanguage.js"></script>
</head>
<body>

    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span id="amenities">AMENITIES</span>
    </div>
    
    <span class="navigationSubTitle" id="amenities_info">Amenities list & information</span>
    
    <span class="topMessage" id="topMessage">Indulge in comfort and convenience with our array of amenities tailored to enhance your stay. Relax by the pool, or unwind in our cozy lounge area. Whatever you need, we're here to make your experience unforgettable.</span>
    
    <span class="subjectTitle" id="bedroom">BEDROOM</span>
    
    <div class="amenitiesGrid">
    
        <div class="amenityItem">
            <span id="bed">Bed</span>
            <img src="../assets/icons/double-bed.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="pillows">Pillows</span>
            <img src="../assets/icons/pillow.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="blankets">Blankets</span>
            <img src="../assets/icons/blanket.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="alarm_clock">Alarm Clock</span>
            <img src="../assets/icons/digital-clock.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="mirror">Mirror</span>
            <img src="../assets/icons/mirror.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="curtains">Curtains</span>
            <img src="../assets/icons/curtains.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="aircon">Aircon</span>
            <img src="../assets/icons/air-conditioner.png" alt="">
        </div>
    
    </div>
    
    <span class="subjectTitle" id="common_area">COMMON AREA</span>
    
    <div class="amenitiesGrid">
    
        <div class="amenityItem">
            <span id="living_room">Living room</span>
            <img src="../assets/icons/interior-design.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="tv">TV</span>
            <img src="../assets/icons/watch-tv.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="board_games">Board Games</span>
            <img src="../assets/icons/board-game.png" alt="">
        </div>
    
    </div>
    
    <span class="subjectTitle" id="bathroom">BATHROOM</span>
    
    <div class="amenitiesGrid">
    
        <div class="amenityItem">
            <span id="toilet">Toilet</span>
            <img src="../assets/icons/sanitary.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="shower">Shower</span>
            <img src="../assets/icons/shower.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="toilet_paper">Toilet paper</span>
            <img src="../assets/icons/toilet-paper.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="hand_soap">Hand soap</span>
            <img src="../assets/icons/soap.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="shampoo">Shampoo</span>
            <img src="../assets/icons/shampoo.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="conditioner">Conditioner</span>
            <img src="../assets/icons/hair-conditioner.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="body_wash">Body wash</span>
            <img src="../assets/icons/body-lotion.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="towels">Towels</span>
            <img src="../assets/icons/bath-towel.png" alt="">
        </div>
    
    </div>
    
    <span class="subjectTitle" id="outdoor">OUTDOOR</span>
    
    <div class="amenitiesGrid">
    
        <div class="amenityItem">
            <span id="garage">Garage</span>
            <img src="../assets/icons/garage.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="eating_area">Eating area</span>
            <img src="../assets/icons/table.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="fire_pit">Fire pit</span>
            <img src="../assets/icons/fire.png" alt="">
        </div>
    
        <div class="amenityItem">
            <span id="hot_tub">Hot tub</span>
            <img src="../assets/icons/hot-tub.png" alt="">
        </div>
    
    </div>
    
    
    
    
    











    
    <div class="footer"></div>    
    
    
    
    
    
    
    
    
    
    
</body>
</html>






