<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Check In/Out</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/hog_favicon.png">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span>CHECK IN/OUT</span>
    </div>

    <span class="navigationSubTitle">Arrival Information</span>

    <div class="videoSuperWrap">
        <video
            id="my-video"
            class="video-js vjs-16-9"
            controls
            preload="auto"
            data-setup="{}"
        >
            <source src="../assets/video/house-of-gemini-checkinout_EN.mp4" type="video/mp4" />
            <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
            >
            </p>
        </video>

    </div>


    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>

    <span class="highlighMessage">CODE GIVEN BY HOST</span>

    <span class="mainMessage">For a seamless check-in and check-out experience, please follow these instructions. Upon arrival, locate the secured box provided with the given code. Inside, you'll find your keys for access to the property. Please ensure to securely lock the box after retrieving your keys. Similarly, when departing, return the keys to the secured box and lock it with the same code provided. This ensures the safety of the keys for future guests. Thank you for your cooperation, and enjoy your stay!</span>














</body>
</html>