<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Emergency</title>
    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span>EMERGENCY</span>
    </div>

    <span class="navigationSubTitle">Emergency numbers & information</span>

    <img src="../assets/img/emergency.jpg" alt="" class="middleInfoImage">


    <span class="mainMessage">In case of emergency, please reach out to local authorities for assistance. Your safety is our top priority.</span>


    <a href="tel:911" class="emergencyItemWrap">
        <div class="emergencyItem">
            <img src="../assets/icons/hospital.png" alt="" class="emergencyIcon">
            <div class="emergencyInfoWrap">
                <span class="emergencyTitle">HOSPITAL</span>
                <div class="emergencyNumberWrap">
                    <img src="../assets/icons/phone-call.png" alt="" class="emergencyPhoneIcon">
                    <span class="emergencyNumberText">911</span>
                </div>
            </div>
        </div>
    </a>

    <a href="tel:911" class="emergencyItemWrap">
        <div class="emergencyItem">
            <img src="../assets/icons/police.png" alt="" class="emergencyIcon">
            <div class="emergencyInfoWrap">
                <span class="emergencyTitle">POLICE</span>
                <div class="emergencyNumberWrap">
                    <img src="../assets/icons/phone-call.png" alt="" class="emergencyPhoneIcon">
                    <span class="emergencyNumberText">911</span>
                </div>
            </div>
        </div>
    </a>

    <a href="tel:911" class="emergencyItemWrap">
        <div class="emergencyItem">
            <img src="../assets/icons/firefighter.png" alt="" class="emergencyIcon">
            <div class="emergencyInfoWrap">
                <span class="emergencyTitle">FIRE FIGHTER</span>
                <div class="emergencyNumberWrap">
                    <img src="../assets/icons/phone-call.png" alt="" class="emergencyPhoneIcon">
                    <span class="emergencyNumberText">911</span>
                </div>
            </div>
        </div>
    </a>



    <div class="footer"></div>







</body>
</html>