<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Places to see</title>
    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span>PLACES TO SEE</span>
    </div>

    <span class="navigationSubTitle">Places of Interest around the area</span>

    <span class="topMessage">We've got easy directions. Explore the city with public transport, rideshares, bikes, or on foot. Need help? Just ask. Enjoy your stay and happy travels!</span>
    
    <img src="../assets/img/winery.jpg" alt="" class="wifiImage">

    <span class="subjectTitle">RESTAURANTS</span>

    <a href="https://maps.app.goo.gl/SHcsuq1NMdwFCiei7" target=”_blank” class="placeItemWrap">

        <img class="placeImage" src="../assets/img/restaurant_001.png" alt="">
        
        <div class="placeInfoWrap">
            <div class="placeName">
                <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                <span class="placeNameText">Restaurante Latitud 32, Valle de Guadalupe</span>
            </div>
            <span class="googleAddress">Carretera El Tigre - El Porvenir KM 7.5 Parcela 118, 22755 El Porvenir, B.C.</span>
        </div>
    </a>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17342.984231783674!2d-116.64768493711537!3d32.06154618404211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d8ef9bdca118a9%3A0x9e7a461d24a999e2!2sRestaurante%20Latitud%2032%2C%20Valle%20de%20Guadalupe!5e1!3m2!1sen!2smx!4v1708586729432!5m2!1sen!2smx" class="gMapIframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    <span class="subjectTitle">BARS & WINERIES</span>




    <div class="footer"></div>












</body>
</html>