<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Places to see</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/hog_favicon.png">
    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
    <script src="../js/loadLanguage.js"></script>
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span id="main-title">PLACES TO SEE</span>
    </div>

    <span class="navigationSubTitle" id="main-subtitle">Places of Interest around the area</span>

    <span class="topMessage" id="main-message">For your convenience, we've listed nearby restaurants and bars below. Simply click on them to open Google Maps and get directions. Enjoy exploring the local dining scene!</span>
    

    <span class="subjectTitle" id="title-01">RESTAURANTS</span>


    <div class="restaurantsWrap">
        <a href="https://maps.app.goo.gl/SHcsuq1NMdwFCiei7" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/restaurants/restaurant_001.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Restaurante Latitud 32, Valle de Guadalupe</span>
                </div>
                <span class="googleAddress">Carretera El Tigre - El Porvenir KM 7.5 Parcela 118, 22755 El Porvenir, B.C.</span>
            </div>
        </a>

        <div class="brownDivider"></div>

        <a href="https://maps.app.goo.gl/wzVJL8E3TX7SjFxm8" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/restaurants/restaurant_002.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Rancho Villaseñor</span>
                </div>
                <span class="googleAddress">22753 Ensenada, Baja California</span>
            </div>
        </a>

        <div class="brownDivider"></div>

        <a href="https://maps.app.goo.gl/j6fNUAkJiMKoyDcF7" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/restaurants/restaurant_003.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Las Muñecas</span>
                </div>
                <span class="googleAddress">Carretera al porvenir el porvenir, 22753 Francisco Zarco, B.C.</span>
            </div>
        </a>

        <div class="brownDivider"></div>
        
        <a href="https://maps.app.goo.gl/X4WDqVNsBFEV8exW9" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/restaurants/restaurant_004.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Cielo, Mar y Tierra_VG Restaurante</span>
                </div>
                <span class="googleAddress">Carretera Guadalupe - Francisco Zarco 198, 22753 El Porvenir, B.C.</span>
            </div>
        </a>
    </div>
    
    
    
    
    
    
    <span class="subjectTitle" id="title-02">BARS & WINERIES</span>
    
    <div class="barsWrap">
        <a href="https://maps.app.goo.gl/Jhn7eR6rQSaEV6F9A" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_001.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Vinícola Bajalupano</span>
                </div>
                <span class="googleAddress">Carretera Francisco Zarco Km 3.6 Ejido El Porvenir, 22755 Ensenada, B.C.</span>
            </div>
        </a>
        
        <div class="brownDivider"></div>
        
        <a href="https://maps.app.goo.gl/UwwiMQBsE8b85eV57" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_002.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Cava Las Animas de la Vid</span>
                </div>
                <span class="googleAddress">Parcela 49 G Camino Vecinal Francisco Zarco km 83 Ensenada-Tecate Valle de Guadalupe, 22710 Ensenada, B.C.</span>
            </div>
        </a>
        
        <div class="brownDivider"></div>
        
        <a href="https://maps.app.goo.gl/EDubi3NpxyJE2pQS8" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_003.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Corona del Valle</span>
                </div>
                <span class="googleAddress">Carretera Tecate-Ensenada KM 89 +100, 22760 Francisco Zarco, B.C.</span>
            </div>
        </a>
        
        <div class="brownDivider"></div>

        <a href="https://maps.app.goo.gl/y7DSJXh2BvTKKjFc9" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_004.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Vinos Lechuza</span>
                </div>
                <span class="googleAddress">Carretera Tecate-Ensenda Km 82.5, Valle de Guadalupe, Francisco Zarco, B.C.</span>
            </div>
        </a>
        
        <div class="brownDivider"></div>

        <a href="https://maps.app.goo.gl/5aWD9jvjbp79yzG26" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_005.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">The Heaven & Hell</span>
                </div>
                <span class="googleAddress">22766 Ensenada, Baja California</span>
            </div>
        </a>
        
        <div class="brownDivider"></div>

        <a href="https://maps.app.goo.gl/ybDRr4rXDFoaeV5a7" target=”_blank” class="placeItemWrap">
            <img class="placeImage" src="../assets/img/bars/bar_005.png" alt="">
            <div class="placeInfoWrap">
                <div class="placeName">
                    <img src="../assets/icons/google-maps.png" alt="" class="placeGmapsIcon">
                    <span class="placeNameText">Cavas Sol Y Barro</span>
                </div>
                <span class="googleAddress">México 3 Supermanzana Km 87, 22755 El Porvenir, B.C.</span>
            </div>
        </a>
    </div>    
    
    











    
    <div class="footer"></div>    
    
    
    
    
    
    
    
    
    
    
</body>
</html>








<!-- google maps Embded map -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17342.984231783674!2d-116.64768493711537!3d32.06154618404211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d8ef9bdca118a9%3A0x9e7a461d24a999e2!2sRestaurante%20Latitud%2032%2C%20Valle%20de%20Guadalupe!5e1!3m2!1sen!2smx!4v1708586729432!5m2!1sen!2smx" class="gMapIframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->





