<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/pages.css">
    <title>Wi-Fi</title>
    <!-- <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    
    <div class="titleNavigation">
        <a href="../index.html">
            <img src="../assets/icons/back_brown.png" alt="">
        </a>
        <span>Wi-Fi</span>
    </div>

    <span class="navigationSubTitle">Wi-Fi Information</span>

    <img src="../assets/img/wifi_placeholder.jpg" alt="" class="middleInfoImage">

    <img src="../assets/icons/wifi-outlined.png" alt="" class="wifi-outlined">

    <div class="wifiInfoWrap">

        <div class="eachInfoWrap">
            <div class="wifiLabel">Network</div>
            <div class="wifiValue">bluetele4E11</div>
        </div>
        <div class="eachInfoWrap">
            <div class="wifiLabel">Password</div>
            <div class="wifiValue">AA31838C</div>    
        </div>

    </div>



    <span class="mainMessage">Feel free to connect and enjoy high-speed internet during your stay. If you have any questions or need assistance, don't hesitate to reach out to us. We're here to make your experience as comfortable as possible.</span>














</body>
</html>